project_work/nifi/templates/SampleJson2Kafka.json
{"flowContents":{"identifier":"61f51214-9dad-3933-97af-85354f437f54","instanceIdentifier":"01961000-a1c6-1bb9-8050-98e7fd032a6d","name":"SampleJson2Kafka","comments":"","position":{"x":152.0,"y":72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2246dfec-0602-3e50-9af1-456dbfd1dba2","instanceIdentifier":"389d3d7c-91e6-1c94-ed95-fd66df2eb407","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":336.0,"y":216.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.27.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"9990c514-b2ce-3ff3-89ef-980e2ec341de","bootstrap.servers":"kafka:29092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"d441514f-daf3-39e4-8e2c-34147a78d7b0","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"1","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"SampleJson2Kafka","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"},{"identifier":"f6d6762c-b208-31cb-8478-c7feaf8c6cf0","instanceIdentifier":"389d3d86-91e6-1c94-6390-f5718a02be35","name":"SplitRecord","comments":"","position":{"x":336.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Record Writer":"9990c514-b2ce-3ff3-89ef-980e2ec341de","Record Reader":"d441514f-daf3-39e4-8e2c-34147a78d7b0","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"},{"identifier":"30aeeede-922b-3915-bd30-6578fcda807b","instanceIdentifier":"389d3d7d-91e6-1c94-e460-7231f6d7e808","name":"GenerateRecord","comments":"","position":{"x":336.0,"y":-248.0},"type":"org.apache.nifi.processors.standard.GenerateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"nullable-fields":"true","number-of-records":"100","record-writer":"9990c514-b2ce-3ff3-89ef-980e2ec341de","schema-text":"{\n    \"type\" : \"record\",\n    \"name\" : \"schema\",\n    \"fields\" : [{\n        \"name\" : \"dttm\",\n        \"type\" : [\"null\", {\n            \"type\" : \"long\",\n            \"logicalType\" : \"timestamp-micros\"\n        }],\n        \"default\" : null\n    },\n\t{\"name\": \"txt\", \"type\": \"string\"}\n]\n}","null-percentage":"0"},"propertyDescriptors":{"nullable-fields":{"name":"nullable-fields","displayName":"Nullable Fields","identifiesControllerService":false,"sensitive":false},"number-of-records":{"name":"number-of-records","displayName":"Number of Records","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"null-percentage":{"name":"null-percentage","displayName":"Null Value Percentage","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"2 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fdf3ab47-9dde-31c7-b83a-151b5d37c720","instanceIdentifier":"389d3d7f-91e6-1c94-7706-ecd35f143ada","name":"","source":{"id":"2246dfec-0602-3e50-9af1-456dbfd1dba2","type":"PROCESSOR","groupId":"61f51214-9dad-3933-97af-85354f437f54","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"389d3d7c-91e6-1c94-ed95-fd66df2eb407"},"destination":{"id":"c6c384c8-7623-394a-96d4-ad41c6d5a255","type":"FUNNEL","groupId":"61f51214-9dad-3933-97af-85354f437f54","name":"Funnel","comments":"","instanceIdentifier":"389d3d7b-91e6-1c94-2f27-795cd276aa41"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"100 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"},{"identifier":"0c3862cc-4c7d-38e1-b8ce-01631d532cb0","instanceIdentifier":"389d3d8b-91e6-1c94-c510-bbc3f566820d","name":"","source":{"id":"f6d6762c-b208-31cb-8478-c7feaf8c6cf0","type":"PROCESSOR","groupId":"61f51214-9dad-3933-97af-85354f437f54","name":"SplitRecord","comments":"","instanceIdentifier":"389d3d86-91e6-1c94-6390-f5718a02be35"},"destination":{"id":"d35553bb-6145-3581-85c8-d736af305bbd","type":"FUNNEL","groupId":"61f51214-9dad-3933-97af-85354f437f54","name":"Funnel","comments":"","instanceIdentifier":"389d3d8a-91e6-1c94-cc15-1dd88fc40ed4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"},{"identifier":"f8ac33f3-b685-3b78-afea-1a2fd958ef5e","instanceIdentifier":"389d3d89-91e6-1c94-a06b-2ebfdd8941e9","name":"","source":{"id":"30aeeede-922b-3915-bd30-6578fcda807b","type":"PROCESSOR","groupId":"61f51214-9dad-3933-97af-85354f437f54","name":"GenerateRecord","comments":"","instanceIdentifier":"389d3d7d-91e6-1c94-e460-7231f6d7e808"},"destination":{"id":"f6d6762c-b208-31cb-8478-c7feaf8c6cf0","type":"PROCESSOR","groupId":"61f51214-9dad-3933-97af-85354f437f54","name":"SplitRecord","comments":"","instanceIdentifier":"389d3d86-91e6-1c94-6390-f5718a02be35"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"},{"identifier":"0323a109-10a5-3fca-a884-0ac2303c618c","instanceIdentifier":"389d3d87-91e6-1c94-e021-128bb3a8aafa","name":"","source":{"id":"f6d6762c-b208-31cb-8478-c7feaf8c6cf0","type":"PROCESSOR","groupId":"61f51214-9dad-3933-97af-85354f437f54","name":"SplitRecord","comments":"","instanceIdentifier":"389d3d86-91e6-1c94-6390-f5718a02be35"},"destination":{"id":"2246dfec-0602-3e50-9af1-456dbfd1dba2","type":"PROCESSOR","groupId":"61f51214-9dad-3933-97af-85354f437f54","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"389d3d7c-91e6-1c94-ed95-fd66df2eb407"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"},{"identifier":"57dd61d1-7109-31fd-80c8-93e69d67317a","instanceIdentifier":"389d3d7e-91e6-1c94-13f8-50295640709e","name":"","source":{"id":"2246dfec-0602-3e50-9af1-456dbfd1dba2","type":"PROCESSOR","groupId":"61f51214-9dad-3933-97af-85354f437f54","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"389d3d7c-91e6-1c94-ed95-fd66df2eb407"},"destination":{"id":"6c5a7348-08c6-3983-ae26-114d00c026d5","type":"FUNNEL","groupId":"61f51214-9dad-3933-97af-85354f437f54","name":"Funnel","comments":"","instanceIdentifier":"389d3d7a-91e6-1c94-1922-dd0978e5fbb2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"}],"labels":[],"funnels":[{"identifier":"c6c384c8-7623-394a-96d4-ad41c6d5a255","instanceIdentifier":"389d3d7b-91e6-1c94-2f27-795cd276aa41","position":{"x":688.0,"y":456.0},"componentType":"FUNNEL","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"},{"identifier":"6c5a7348-08c6-3983-ae26-114d00c026d5","instanceIdentifier":"389d3d7a-91e6-1c94-1922-dd0978e5fbb2","position":{"x":264.0,"y":456.0},"componentType":"FUNNEL","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"},{"identifier":"d35553bb-6145-3581-85c8-d736af305bbd","instanceIdentifier":"389d3d8a-91e6-1c94-cc15-1dd88fc40ed4","position":{"x":24.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"}],"controllerServices":[{"identifier":"9990c514-b2ce-3ff3-89ef-980e2ec341de","instanceIdentifier":"1e4f39f6-85be-1767-c263-e4f9da501234","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.27.0"},"properties":{"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.27.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"},{"identifier":"d441514f-daf3-39e4-8e2c-34147a78d7b0","instanceIdentifier":"389d3d81-91e6-1c94-a6b3-ad4f559848ca","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.27.0"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.27.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"61f51214-9dad-3933-97af-85354f437f54"}],"variables":{"avro.schema":"{\n    \"type\" : \"record\",\n    \"name\" : \"schema\",\n    \"fields\" : [{\n        \"name\" : \"dttm\",\n        \"type\" : [\"null\", {\n            \"type\" : \"long\",\n            \"logicalType\" : \"timestamp-micros\"\n        }],\n        \"default\" : null\n    },\n\t{\"name\": \"txt\", \"type\": \"string\"}\n]\n}"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}